.container {
  margin: 0;
  padding: 80px 30px;
  width: 100vw;
  background: #121022;
}

.section__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
  margin: 30px;
  color: #fff;
  font-family: "Yeon Sung", cursive;
}

.movie__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: flex-start;
  grid-gap: 50px 30px;
  width: 80%;
  margin: 0 auto;
}

.moreBtn {
  text-align: center;
  margin-top: 50px;
}

.moreBtn button {
  border-radius: 10px;
  background: #1d0bd2;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 10px;
  font-family: 'Yeon Sung', cursive;
  border: none;
  outline: none;
  cursor: pointer;
}

.moreBtn :hover {
  background: #ffffff;
  color: #1d0bd2;
}

@media screen and (max-width: 1090px) {
  .section__title {
    font-size: 2rem;
    margin-bottom: 15%;
  }
  .movie__container {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0;
  }
  
}