.mainImage {
  position: absolute;
  max-width: 600px;
  bottom: 2rem;
  margin-left: 2rem;
  color: #ffffff;
}

.description {
  font-size: 1.2rem;
  margin-top: 15px;
}

@media screen and (max-width: 1090px) {

  .description {
    margin-right: 15px;
  }

}