.movieHome {
  width: 100%;
  height: 100vh;
  margin: 0;
  background: #121022;
}

.movieDetail {
  width: 85%;
  margin: 3% auto;
  text-align: center;
  font-family: 'Yeon Sung', cursive;
  font-size: 1.6rem;
  color: #ffffff;
}

.movieDesc {
  font-size: 2.3rem;
}

@media screen and (max-width: 1090px) {
  .movieDetail {
    margin: 0%;
    width: 100%;
    background: #121022;
  }

}