.movieList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border-radius: 10px;
  background: #16152d;
}

.movieImg {
  position: relative;
  width: 70%;
  height: 50%;
  top: -30px;
  left: 30px;
  border-radius: 5px;
}

.movieDetail {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  text-align: start;
  color: #ffffff;
}

.movieName {
  font-size: 1.8rem;
  width: 100%;
}

.movieInfo {
  margin: 20px auto;
  color: #4a485d;
}

.movieRate {
  font-size: 1rem;
}

.score {
  color: #dcbe3e;
  font-size: 1.8rem;
  padding-right: 10px;
}

.starIcon {
  color: #dcbe3e;
  margin-bottom: 5px;
}

@media screen and (max-width: 1090px) {

  .movieList {
    width: 100%;
    padding-bottom: 5%;
    margin: 2% auto;
  }

  .movieInfo {
    font-size: 0.9rem;
  }

  .movieLink {
    width: 90%;
  }

  .movieImg {
    width: 70%;
    left: 20px;
  }

  .movieName{
    font-size: 1.5rem;
  }
  
}
