@import url("https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap");

.navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  transition: all 300ms ease-in-out;
  font-family: "Yeon Sung", cursive;
  font-size: 1.4rem;
  z-index: 2;
  background-color: #121022;
  opacity: 0.8;
}

.logo {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2%;
}

.logoImg {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  margin-bottom: 5px;
}

.title {
  color: #fff;
  font-size: 2.3rem;
}

.title:hover {
  color: #fff;
  text-decoration: none;
}

.search {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}

.input {
  width: 100%;
  height: 40px;
  font-size: 1.2rem;
  margin: auto 0;
  padding: 2%;
  border: none;
  border-radius: 10px;
}

.button {
  background-color: transparent;
  border: none;
}

.buttonImg {
  height: 35px;
  padding: 5%;
}

.menu {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  padding: 8px 4px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 20px;
  border-color: #fff;
  color: #fff;
  font-size: 1.8rem;
  transition: background-color 0.5s;
}

.item:hover {
  border-color: black;
  background-color: gold;
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 970px) {
  .navigation {
    display: flex;
    justify-content: flex-start;
  }

  .logo {
    margin: 0;
  }

  .title {
    display: none;
  }
  
  .search {
    width: 55%;
  }
  
  .input {
    height: 30px;
    font-size: 0.9rem;
  }

  .buttonImg {
    height: 25px;
    padding-top: 3px;
  }

  .menu {
    display: none;
  }
  
  .item {
    font-size: 1.5rem;
  }
  
  .item:hover {
    background: #121022;
    color: gold;
    text-decoration: none;
  }


}
