.section {
  margin: 0;
  padding: 80px 30px;
  width: 100vw;
  min-height: 100vh;
  background: #121022;
}

.reloadBtn {
  position: relative;
  left: 47%;
  font-size: 1.5rem;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 10%;
  padding: 10px;
}

.searchMsg {
  color: #fff;
  text-align: center;
}

.searchResult {
  color: #fff;
  margin-left: 12%;
  margin-bottom: 3%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: flex-start;
  grid-gap: 50px 30px;
  width: 80%;
  margin: 0 auto;
}


@media screen and (max-width: 1090px) {

  .container {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0;
  }

  .reloadBtn {
    text-align: center;
    left: 35%;
    margin-bottom: 15%;
  }

  .searchResult {
    margin-bottom: 15%;
  }

}